<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>write up</title>
   <link rel="shortcut icon" href="https://res.cloudinary.com/doopsbddu/image/upload/v1759479893/uq9nkjbguwitx1o20uvc.jpg" type="image/x-icon" >
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <div>KR Medium</div>
    <a href="/write">Write</a>
  </header>

  <!-- update button -->
  <!-- <div>
    <h2>camry</h2>
    <p>$10</p>
    <button id="update-button">Replace price</button>
  </div> -->


  <!-- Delete Button -->
  <!-- <div>
    <h2>Remove Item</h2>
    <p>
      Delete one Darth Vader's quote. Does nothing if there are no more Darth
      Vader's quote
    </p>
    <button id="delete-button">Delete Darth Vader's quote</button>
    <div id="message"> </div>
  </div> -->

  <ul class="store">
    <!-- Loop through quotes -->
    <% for(var i=store.length - 1; i>= 0; i--) {%>
      <li class="item">
        <!-- Output name from the iterated quote object -->
        <div class="text">
          <div class="title">Title: 
            <%= store[i].name %>
          </div>
          <div class="flex">
            <div class="showAuthor">
              Written by: <%= store[i].author %>
            </div>
            <div class="showdate">
              <%= store[i].date %>
            </div>
            <div class="showtime">
              <%= store[i].time %>
            </div>
      
           
          </div>




          <!-- Output quote from the iterated quote object -->
          <div class="data">
            <%= store[i].quote %>
          </div>
          <textarea placeholder="Comment here" id="" cols="10" rows="5"></textarea>
        </div>

        <div class="img">
       <img class="img-fluid" src="<%= store[i].image%>">
        </div>
      </li>
      <% } %>
  </ul>



  <script src="/main.js"></script>
</body>

</html>